body {
    margin: 0;
    padding: 0;
    color: #FFF;
    height: 100vh;
    width: 100vw;
}
.top-row {
    height: 60px;
    position: relative;
}
.top-left {
    float: left;
}
.top-right {
    float: right;
    width: 130px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: 10px;
    margin-top: 10px;
}
.top-center, .top-left, .top-right {
    flex: 1 1 auto;
    position: relative;
    display: flex;
}
.weather {
    margin-top: -10px;
    padding: 5px;
    border: 10px;
    text-align: right;
}  
span.weather-icon {
    align-content: center;
    vertical-align: middle;
}
span.js-weather {
    font-size: 30px;
    text-shadow: 1px 1px 10px #000;
}
span.js-location {
    font-size: 100%;
    font-weight: bold;
    /* text-align: center; span 태그는 text-align 적용 안된다고 함 */
    display: inline-block;
    text-align: right;
    width: 95%;
    text-shadow: 0.5px 0.5px 10px #000;
} 

.region-center, .center-above, .center-below {
    width: 100%;
    text-align: center;
    flex-direction: column;
}
.region-center {
    height: auto;
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
.center-above, .center-below {
    flex: 1 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.js-clock {
    margin-top: -30px;
    margin-bottom: 30px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1000%;
    font-weight: 300;
    letter-spacing: -20px;
}
.hidden {
    display: none;
}
.showing {
    display: block;
    transition: border-color .2s ease-in-out;
}
.js-greetings {
    font-size: 300%;
    font-weight: 200;
    font-family: Verdana, Helvetica, sans-serif;
    margin-top: -30px;
} 
.first-region {
    text-align: center;
}

.question {
    font-size: 54px;
    font-weight: 400;
    line-height: 1.2;
    font-family:BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input {
    margin: auto;
    padding-top: 4px;
    display: block;
    border: none;
    color: #FFF;
    background: 0;
    border-color:transparent;
    border-bottom: 2px solid #fff;
    font-size: 2.25em;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
}
input::placeholder {
    color: #FFF;
    opacity: 0.5;;
}
input:focus {
    outline: none;
    margin: auto;
}
:hover::placeholder {
    opacity: 0.75;
    text-shadow: 1px 1px 10px #FFF;
    transition: opacity 0.35s ease-in-out;
}
:focus::placeholder {
    opacity: 0;
    transition: opacity 0.35s ease-in-out;
}

ul {
    list-style-type: none;
    margin: auto;
    text-align: center;
    padding-inline-start: 0;
}
ul li {
    font-size: 2em;
    line-height: 1.5;
}

.checkbox {
    height: 13px;
    margin-right: 0.15em;
    padding: 7px;
    cursor: pointer;
    font-size: 70%;
    color: #F00;
    font-family: fantasy;
    line-height: 1;
    text-shadow: 0 0 15px rgb(0 0 0 / 30%);
}
.checkbox:hover {
    font-size: 100%;
}


.bottom-row {
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#wiseSaying {
    font-size: 20px;
    font-weight: bold;
    font-family: "Papyrus", "Fantasy";
    display: flex;
    justify-content: center;
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}